name: Pull Request
on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
      - run: npm install && npm run build
      - uses: actions/upload-artifact@v4
        with:
          name: ${{ github.ref }}.zip
          path: dist
